@model User

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete User</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" autocomplete="off" />
        </div>
        <div class="mb-3">
            <label asp-for="Amount"></label>
            <input asp-for="Amount" disabled class="form-control" autocomplete="off" />
        </div>
        <div class="mb-3">
            <label asp-for="Date"></label>
            <input asp-for="Date" disabled class="form-control" autocomplete="off" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="User" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>

    </div>
</form>